<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button按钮</title>
  <link href="/dist/output.css" rel="stylesheet">
</head>
<body>
  <div class="p-16">
    <h2 class="text-2xl">Buttons按钮</h2>
    <div class="container">
      <div class="grid gap-4 grid-cols-3 grid-rows-3">
        <div>
          <h3 class="text-inherit">Primary Button主要按钮</h3>
          <div>
            <button class="btn btn-primary btn-sm">主按钮</button>
            <button class="btn btn-primary">主按钮</button>
            <button class="btn btn-primary btn-bg">主按钮</button>
          </div>
        </div>
        <div>
          <h3 class="text-inherit">Secondary Button 次要按</h3>
          <div>
            <button class="btn btn-secondary btn-sm">次要按</button>
            <button class="btn btn-secondary">次要按</button>
            <button class="btn btn-secondary btn-bg">次要按</button>
          </div>
        </div>
        <div>
          <h3 class="text-inherit">Dashed Button 虚框按钮</h3>
          <div>
            <button class="btn btn-dashed btn-sm">虚框按钮</button>
            <button class="btn btn-dashed">虚框按钮</button>
            <button class="btn btn-dashed btn-bg">虚框按钮</button>
          </div>
        </div>
        <div>
          <h3 class="text-inherit">Disable Button 失效按钮</h3>
          <div>
            <button class="btn btn-disable btn-sm">失效按钮</button>
            <button class="btn btn-disable">失效按钮</button>
            <button class="btn btn-disable btn-bg">失效按钮</button>
          </div>
        </div>
        <div>
          <h3 class="text-inherit">Danger Button 危险按钮</h3>
          <div>
            <button class="btn btn-danger btn-sm">危险按钮</button>
            <button class="btn btn-danger">危险按钮</button>
            <button class="btn btn-danger btn-bg">危险按钮</button>
          </div>
        </div>
        <div>
          <h3 class="text-inherit">Danger Button 危险按钮</h3>
          <div>
            <button class="btn btn-danger btn-danger-default btn-sm">危险按钮</button>
            <button class="btn btn-danger btn-danger-default">危险按钮</button>
            <button class="btn btn-danger btn-danger-default btn-bg">危险按钮</button>
          </div>
        </div>
        <div>
          <h3 class="text-inherit">Danger Button 危险按钮</h3>
          <div>
            <button class="text-14 text-red-5">危险按钮</button>
            <button class="text-14 text-red-5">危险按钮</button>
            <button class="text-16 text-red-5">危险按钮</button>
          </div>
        </div>
        <div>
          <h3 class="text-inherit">Ghost Button 幽灵按钮</h3>
          <div class="bg-black-9 px-2 py-2">
            <button class="btn btn-ghost btn-sm">危险按钮</button>
            <button class="btn btn-ghost">危险按钮</button>
            <button class="btn btn-ghost btn-bg">危险按钮</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>