<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header头部</title>
  <link href="../../dist/output.css" rel="stylesheet">
</head>
<body>
  <div class="pl-5 bg-black-percent-45 text-15">
    <div class="h-20 flex felx-wrap justify-between items-center">
      <div class="flex felx-wrap items-center">
        <div class="pl-2.5 pr-3">
          <img class="w-32 h-auto inline-block" src="../assets/img/header/logo.png" alt="">
        </div>
        <div class="px-10 text-center text-white">
          <img class="w-5 h-5 inline-block my-2" src="../assets/img/header/game.png" alt="">
          <span class="block">游戏</span>
        </div>
        <div class="flex">
          <div class="flex rounded-md shadow-sm">
            <div class="flex-1">
              <select class="w-40 h-10 px-3 rounded-l-md border border-r-0">
                <option>所有服务</option>
                <option>所有服务</option>
                <option>所有服务</option>
              </select>
            </div>
            <div class="flex flex-1">
              <input type="text" class="w-40 h-10 px-3 rounded-r-md" placeholder="在C2C搜索游戏">
            </div>
          </div>
        </div>
      </div>
      <div class="flex felx-wrap">
        <div class="w-20 px-2.5 text-center text-white">
          <img class="w-5 h-5 inline-block my-2" src="../assets/img/header/user.png" alt="">
          <span class="block">买家中心</span>
        </div>
        <div class="w-20 px-2.5 text-center text-white">
          <img class="w-5 h-5 inline-block my-2" src="../assets/img/header/message.png" alt="">
          <span class="block">消息</span>
        </div>
        <div class="w-20 px-2.5 text-center text-white">
          <img class="w-5 h-5 inline-block my-2" src="../assets/img/header/seller.png" alt="">
          <span class="block">成为卖家</span>
        </div>
        <div class="w-20 px-2.5 text-center text-white">
          <img class="w-5 h-5 inline-block my-2" src="../assets/img/header/flag-zh.png" alt="">
          <span class="block">切换语言</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>